<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.PharmacyMapper">
	<cache/>
	
	<insert id="createPharmacy" parameterType="PharmacyDTO">
		INSERT INTO PHARMACY (pharm_name, position) 
		VALUES (#{pharm_name}, #{position})
	</insert>

	<delete id="deletePharmacy" parameterType="PharmacyDTO">
		DELETE FROM PHARMACY 
		WHERE pharm_name = #{pharm_name}
	</delete>   
	
	<select id="searchPharmacyByPrimaryKey" resultType="PharmacyDTO">
		SELECT pharm_name AS pharm_name, 
			   position AS position 
		FROM PHARMACY
		WHERE pharm_name = #{pharm_name}
	</select>
	
	<resultMap id="pharmacyResultMap" type="PharmacyDTO">
		<id column="pharm_name" jdbcType="VARCHAR" property="pharm_name" />
		<result column="position" jdbcType="VARCHAR" property="position" />
	</resultMap>
	
	<select id="ListAllPharmacy" resultType="PharmacyDTO">
		SELECT  pharm_name AS pharm_name, 
			   position AS position 
        FROM PHARMACY
    </select>
</mapper>